html,
body {
  margin: 0px;
  height: 100%;
}
.bg_heart {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-image: url("https://i.postimg.cc/SKDpTJkh/Untitled-design.jpg");
  background-size: 100vh 100vh;
  background-size: cover;
  z-index: -1;
  animation: untoldcoding 55s infinite ease-in-out;
}

@keyframes untoldcoding {
  0% {
    background-image: url("https://i.postimg.cc/k4YjCZvp/IMG-2768.jpg");
  }
  25% {
    background-image: url("https://i.postimg.cc/NMjNWYmX/2269-DF21-EA16-4469-8-D2-F-EB4-F9775794-E.jpg");
  }
  50% {
    background-image: url("https://i.postimg.cc/G2fnRV4g/Untitled-design.jpg");
  }
  75% {
    background-image: url("https://i.postimg.cc/SKDpTJkh/Untitled-design.jpg");
  }
  100% {
    background-image: url("https://i.postimg.cc/Kcd4rs05/Untitled-design.png");
  }
}


.container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  color: white;
  font-family: cursive;
}
.image-container {
  position: relative;
  display: inline-block;
}

body {
  margin: 0;
}

.image-container {
  position: relative;
  width: 100%;
}

#playButton {
  position: absolute;
  left: 10px; /* Adjust the left position as needed */
  top: 10%; /* Adjust the top position as needed */
  padding: 10px;
  background-color: #3498db;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

#playButton:hover {
  background-color: #2980b9;
}

img {
  width: 100%;
  height: auto;
  display: block;
}
